#a{
    font-style: oblique;
    background-color: rgb(254, 238, 255);
    text-align: center;
}

#art1, #art2 {
display: inline-block;
vertical-align: top; /* 위쪽 정렬 */
}

#art1{
    background-color: rgb(247, 255, 237); width: 48%; height: 1000px;
    text-align: center;
    border: 10px dotted rgb(255, 211, 211);
}

#art2{
    background-color: rgb(232, 255, 232); width: 48%; height: 1000px;
    text-align: center;
    float: right;
    position: static;
    border: 10px dotted rgb(229, 236, 255);
}