#sut{
    text-align: center;
    background-color: rgb(230, 254, 255);
    font-style: oblique;
    font-weight: unset;
}

ul.nav{
    list-style: none;
    text-align: center;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    padding: 5px
}

.nav li{
    display: inline;
    text-transform: uppercase;
    padding: 10px;
}

.nav li a{
    text-decoration: none;
    color: black;
}

.nav li a:hover{
    text-decoration:underline;
}

#art1{
    background-color: rgb(247, 255, 237);
    text-align: center;
    border: 10px dotted rgb(255, 211, 211);
}